@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

::after,
::before,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
====================
Variables
====================
 */

 :root{
  --background-clr:#004B3F;
  --background-clr-light: #016352;
  --backgroundUnder:#FFE09B;
  --backgroundGallery:#242122;
  --backgroundFooter: #162317;
  --borderColorGallery:rgba(71, 65, 66, 0.92);
  --backgroundServicesCenter:#435e76a1;
  --backgroundSingleService:#d8def2;
  --backgroundFooterCenter:#757054;
  --letterSpacing: 2px;
  --colorLink: #F9DA94;
  --colorLinkMed: #B79967;
  --colorTitle: #FFDDCA;
  --colorP: #F6F2DE;
  --colorSingleService:#273d52;
  --fontSizeHero: 1.5rem;
 }

 

/* 
====================
Navbar section
====================
 */

 body{
font-family: 'Gilda Display', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all 0.3s linear;


 }

.navbar{
  background: var(--background-clr);
  position: sticky;
  width: 100%;
  z-index: 2;
  top: 0;
   -webkit-box-shadow: inset 0px -4px 23px -7px rgba(1,20,17,0.87);
-moz-box-shadow: inset 0px -4px 23px -7px rgba(1,20,17,0.87);
box-shadow: inset 0px -4px 23px -7px rgba(1,20,17,0.87);
}

.nav-center{
  max-width: 1170px;
  margin: 0 auto;
  
}
.logo{
  display: block;
  text-align: center;
  height:60px;
  -webkit-box-shadow: inset 0px -4px 23px -7px rgba(1,20,17,0.87);
-moz-box-shadow: inset 0px -4px 23px -7px rgba(1,20,17,0.87);
box-shadow: inset 0px -4px 23px -7px rgba(1,20,17,0.87);
}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px;
}

.links{
  list-style: none;
  text-align:center;
  
}

.hide-links{
  display:none;
}

.links li{
  padding: 0.4rem;
  
}
.links li:hover, .switch:hover{
  background: var(--background-clr-light);
  padding-top: 0.7rem;
  
}
.links li a{
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  color: var(--colorLink);
  
}

.switch{
  text-align: center;
  color: var(--colorLink);
  
}
.btn-angle{
  display: none;
}

.showBtn{
  display:inline;
}


@media screen and (min-width: 640px){

  .nav-center{
  width: 90vw;

  }
  
  .links{
    display: flex;
    justify-content: space-evenly;
  }

  .switch{
    display: none;
  }
  .links li:hover, .switch:hover{
  background: var(--background-clr-light);
  padding-top: 0.4rem;
  
}
  
}

/* 
====================
Hero section
====================
 */

 .hero{
   min-height: calc(100vh - 5rem);
   background: var(--background-clr);
   display: grid;
   place-items: center;
 }

 .hero-center{
   /* border: 2px solid red; */
   position: relative;
   width: 100%;
   margin: 0 auto;
 }

 .hero-img{
   background: linear-gradient(rgba(16, 43, 53,0.4), rgba(16, 43, 53,0.8)), url('./img/hero-img.png') center/cover ;
   height: 23rem;
   max-width: 15rem;
   margin: 0 auto;
   border-radius: 20px;
 }
 

 .hero-title{
   position: absolute;
   top: 70%;
   letter-spacing: 2px;
   text-transform: capitalize;
   color: var(--colorLinkMed);
   font-size: var(--fontSizeHero);
   text-align: center;
   width: 100%;
 }

 /* 
====================
About section
====================
 */

 .about{
   height: 100vh;
   background: var(--background-clr);
  display: grid; 
  place-items: center;
  
 }

 .about-center{
   max-width: 1170px;
   justify-content: center;
 }


 .about-title{
   color: var(--colorTitle);
   text-transform: capitalize;
   letter-spacing: var(--letterSpacing);
   text-align: center;
   width: 300px;

 }
 .underline{
   height: 5px;
   width: 100px;
   background: var(--backgroundUnder);
   border-radius: 10px;
   
  }
  .about-under{
   margin: 20px auto;

 }

 .about-title p{
   max-width: 200px;
   color: var(--colorP);
   text-transform: none;
   margin: 0 auto;
 }
 .about-img img{
   display: block;
   height: 100%;
   max-height: 25rem;
   margin: 10px auto;
   border-radius: 10px;
 }


  @media screen and (min-width: 640px){
   .about-center{
     display: flex;
     flex-direction: row-reverse;
     height: 400px;

   }
   .about-under{
  
   margin: 20px;
   margin-left: 50%;
 }
 .about-title{
   text-align: left;
 }

 .about-img img{
   margin-left: 1rem;
 }
 }


 /* 
====================
Gallery section
====================
 */

 .gallery{
   min-height: 100vh;
   background:var(--background-clr);
   padding-bottom: 2rem;

 }

 .gallery-title{
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: var(--colorP);
   text-transform: capitalize;
   letter-spacing: var(--letterSpacing);
   padding: 1rem;
   max-width: 1170px;
   margin: 0 auto;
   
  }
  .gallery-img{
    display: block;
   height: 100%;
   width: 100%;
   object-fit: cover;
   padding: 5px;
 }


  .gallery-center{
    background: var(--backgroundGallery);
    border: 1rem solid var(--borderColorGallery);
    width: 80vw;
    max-width: 1170px;
    margin: 0 auto;
    display:grid;
   
  }

  @media screen and (min-width: 640px) {
  .gallery-center {
    grid-template-columns: 1fr;
    column-gap: 5px;
  }
}
@media screen and (min-width: 992px) {
  .gallery-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1170px) {
  .gallery-center {
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: repeat(4,200px);
   gap: 5px;
   grid-template-areas: 
    'a a b'
    'c c b'
    'd e e'
    'f f f';
  }
 .img-1{
   grid-area: a;
 }
 .img-2{
   grid-area: b;
 }
 .img-3{
   grid-area: c;
 }
 .img-4{
   grid-area: d;
 }
 .img-5{
   grid-area: e;
 }
 .img-6{
   grid-area: f;
 }}
  

.link-more{
  display: inline-block;
  margin: 10px;
  margin-left: 50%; 
  text-decoration:none;
  transform: translateX(-50%);
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  color: var(--colorP);
  background: transparent;
  
  
}

.fa-camera-retro{
  color: var(--colorP);
  font-size: 1rem;
}

.fa-camera-retro:hover{
  color: var(--colorLink);
}

 /* 
====================
Services section
====================
 */

 .services{
    padding: 5rem 0;
     background:var(--background-clr);

 }

 .services-title{
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-around;
   align-items: center;
   color: #F6F2DE;
   text-transform: capitalize;
   letter-spacing: var(--letterSpacing);
   padding: 1rem;
   max-width: 1170px;
   margin: 0 auto;
   
  }
  .services-center{
     width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    background: var(--backgroundServicesCenter);
    padding: 0.5rem;
    border-radius: 2px;
  }
  .single-service{
    background: var(--backgroundSingleService);
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
    color: #273d52;
  }
  .single-service h4{
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
  }

  .single-service:hover{
    background: var(--colorSingleService);
    color:var(--backgroundSingleService);
  }
  .single-service .underline{
    margin: 0 auto;
  }
  
  @media screen and (min-width: 640px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

 /* 
====================
Contact section
====================
 */

 .contact{
   height: 500px;
     background: var(--background-clr);
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .contact-center{
   color: var(--colorP);
   text-transform: capitalize;
   letter-spacing: var(--letterSpacing);
   padding: 1rem;
   max-width: 600px;
   text-align: center;

   
  }
  .contact-center h2{
    padding: 0.7rem;
  }
  .contact-under{
    margin: 0 auto;
  }
  .contact-center p{
    padding: 1rem;
  }

   /* 
====================
Footer section
====================
 */

 .footer-section{
   background: var(--backgroundFooter);
 }

 .footer-center{
   margin: 0 auto;
   max-width: 600px;
   text-align: center;
   color: var(--backgroundFooterCenter);

 }

 .footer-center a{
   text-decoration: none;
   color: var(--backgroundFooterCenter);
   
 }

 .footer-icons i:hover{
  color:var(--colorP);
 }